body{
    width: 100%;
    background-size: cover;

}


.次のページへ{
    text-align: right;
}

.ナックル画像{
    padding-top: 50px;
    text-align: right;

}

.じゃんけん習得{
    color: white;
    font-size: 50px;
    font-weight: bold;
    border-spacing: 40px;
    margin: 20px;

}

.ジャジャン拳で戦おう{
    color: red;
}

.ナックルが現れた{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.ピトーが現れた{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.enemy{
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.ジャジャン拳を選択{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: white;
}

.choices{
    margin-top: 200px;
    text-align: center;
}

.choice{
    margin: 0 20px;
    padding: 15px;
    display: inline-block;
    text-align: end;
}

.覚醒へ{
    color: red;
}

.choices{
    margin: 70px auto 20px auto;
    text-align: center;
}
.choice{
    padding: 10px;
    display: inline-block;
}

.enemychoice{
    width: 150px;
    height: 150px;
}

.次のページへと進む{
    border: 3px solid yellow;
    font-size: 20px;
    color: gray;
}

.ゴンさん{
    width: 100%;
    background-size: cover;
}
